.crab {
  width: 72px;
  height: 72px;
  position: absolute;
  top: -7px;
  left: 130px;
  animation-name: crab-movement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 3;
}

.crab__body {
  width: 38px;
  height: 21px;
  position: absolute;
  bottom: 10px;
  left: 18px;
  background-image: url("../img/crab/body.png");
  background-size: 100%;
  background-repeat: no-repeat;
  animation-name: crab-shaking;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  z-index: 1;
}

.crab__left-foot {
  width: 25px;
  height: 32px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../img/crab/foot-left.png");
  background-size: 100%;
  background-repeat: no-repeat;
  animation-name: crab-legs;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.crab__right-foot {
  width: 25px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../img/crab/foot-right.png");
  background-size: 100%;
  background-repeat: no-repeat;
  animation-name: crab-legs;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.crab__left-hand {
  width: 30px;
  height: 21px;
  position: absolute;
  bottom: 0;
  left: 5px;
  background-image: url("../img/crab/hand-left.png");
  background-size: 100%;
  background-repeat: no-repeat;
  animation-name: crab-shaking;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  z-index: 2;
}

.crab__right-hand {
  width: 30px;
  height: 21px;
  position: absolute;
  bottom: 0;
  right: 5px;
  background-image: url("../img/crab/hand-right.png");
  background-size: 100%;
  background-repeat: no-repeat;
  animation-name: crab-shaking;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  z-index: 2;
}

.crab__left-eye {
  width: 10px;
  height: 9px;
  position: absolute;
  bottom: 11px;
  left: 26px;
  background-image: url("../img/crab/eye-left.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
}

.crab__right-eye {
  width: 10px;
  height: 9px;
  position: absolute;
  bottom: 11px;
  right: 26px;
  background-image: url("../img/crab/eye-right.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
}

.crab__eye {
  width: 6px;
  height: 4px;
  position: absolute;
  bottom: 17px;
  background-image: url("../img/crab/eye-eye.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 3;

  &--left {
    left: 24px;
  }

  &--right {
    right: 24px;
  }
}

.crab__shell {
  width: 49px;
  height: 58px;
  position: absolute;
  top: 0;
  left: 12px;
  background-image: url("../img/crab/shell.png");
  background-size: 100%;
  background-repeat: no-repeat;
  animation-name: crab-shell;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  z-index: -1;
}

@media (min-width: $tablet) {
  .crab {
    width: 11.2vw;
    height: 10.77vw;
    left: 18.30vw;
    top: 3.22vw;
  }

  .crab__body {
    width: 5.78vw;
    height: 3.29vw;
    left: 2.56vw;
  }

  .crab__left-foot {
    width: 3.66vw;
    height: 4.75vw;
  }

  .crab__right-foot {
    width: 3.66vw;
    height: 4.75vw;
  }

  .crab__left-hand {
    width: 4.02vw;
    height: 3.14vw;
    left: 1.09vw;
  }

  .crab__right-hand {
    width: 4.02vw;
    height: 3.14vw;
    right: 1.09vw;
  }

  .crab__left-eye {
    width: 1.46vw;
    height: 1.24vw;
    bottom: 1.61vw;
    left: 3.87vw;
   }

  .crab__right-eye {
    width: 1.46vw;
    height: 1.24vw;
    bottom: 1.61vw;
    right: 3.87vw;
  }

  .crab__eye {
    width: 0.87vw;
    height: 0.58vw;
    bottom: 2.34vw;

    &--left {
      left: 3.66vw;
    }

    &--right {
      right: 3.66vw;
    }
  }
  .crab__shell {
    width: 7.17vw;
    height: 8.49vw;
    left: 1.83vw;
  }

}
