.header {
  padding-top: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.header__logo {
  width: 116px;
  height: 46px;
  margin: 0 auto;
  display: block;
  background-image: url("../img/logo-header--mobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.header__plane {
  width: 96px;
  height: 35px;
  position: absolute;
  left: -100px;
  top: 15px;
  background-image: url("../img/plane--mobile.png");
  background-size: (100%, 100%);
  background-repeat: no-repeat;
  animation-name: movingX;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@media (min-width: $tablet) {
  .header {
    height: 8.49vw;
    max-height: 116px;
    padding-top: 1.47%;
    margin-bottom: 3.3%;
  }

  .header__logo {
    width: 21.6vw;
    max-width: 295px;
    height: 100%;
    max-height: 116px;
    background-image: url("../img/logo-header.png");
    background-size: 100%;
  }

  .header__plane {
    width: 17vw;
    max-width: 232px;
    height: 6.23vw;
    max-height: 85px;
    left: -21.96vw;
    background-image: url("../img/plane.png");
    animation-duration: 20s;
  }
}
