.options {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.options__item {
  width: 50%;
  cursor: pointer;
  transition: all .4s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

.options__item:hover .options__dates {
  color: #ff1a14;
}

.options__item:hover .options__names {
  transform: scale(1.05);
}

.options__image {
  width: 115px;
  height: 115px;
  margin: 0 auto;
  margin-bottom: 5px;
  position: relative;
  display: block;
  border: 5px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  background-position: -1px -4px;
  background-repeat: no-repeat;
  box-shadow: -5px 7px 5px 0 rgba(0,0,0,.5),
              inset -5px 7px 5px 0 rgba(0,0,0,.5);

  &--zavodnaya {
    background-image: url("../img/zavodnaya-image--mobile.png");

    &::after {
      content: '';
      width: 68px;
      height: 73px;
      position: absolute;
      bottom: -5px;
      right: -22px;
      background-image: url("../img/cog--mobile.png");
      background-repeat: no-repeat;
    }
  }

  &--solnechnaya {
    background-image: url("../img/solnechnaya-image--mobile.png");

    &::after {
      content: '';
      width: 83px;
      height: 83px;
      position: absolute;
      bottom: -15px;
      right: -30px;
      background-image: url("../img/sun--mobile.png");
      background-repeat: no-repeat;
    }
  }

  &--golden-sand {
    background-image: url("../img/golden-sand-image--mobile.png");

    &::after {
      content: '';
      width: 67px;
      height: 63px;
      position: absolute;
      bottom: -5px;
      right: -22px;
      background-image: url("../img/sandals--mobile.png");
      background-repeat: no-repeat;
    }
  }

  &--kurortnaya {
    background-image: url("../img/kurortnaya-image--mobile.png");

    &::after {
      content: '';
      width: 62px;
      height: 72px;
      position: absolute;
      bottom: -5px;
      right: -22px;
      background-image: url("../img/coconut--mobile.png");
      background-repeat: no-repeat;
    }
  }
}

.options__name {
  padding: 0;
  margin: 0;
  font-family: "Segeo";
  font-size: 16px;
  color: #fffffe;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-align: center;
}

.options__dates {
  padding: 0;
  margin: 0;
  font-family: "Segeo";
  font-size: 16px;
  letter-spacing: -0.8px;
  color: #184a6f;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet) {
  .options {
    justify-content: space-between;
    overflow: visible;
  }

  .options__item {
    width: 18.3vw;
  }

  .options__image {
    width: 100%;
    max-width: 250px;
    height: 16.8vw;
    border: 0.733vw solid #ffffff;

    &--zavodnaya {
      background-image: url("../img/zavodnaya-image.png");
      background-size: 100%;

      &::after {
        width: 11.27vw;
        height: 12.08vw;
        bottom: -1.46vw;
        right: -3.29vw;
        background-image: url("../img/cog.png");
        background-size: 100%;
      }
    }

    &--solnechnaya {
      background-image: url("../img/solnechnaya-image.png");
      background-size: 100%;

      &::after {
        width: 13.55vw;
        height: 13.55vw;
        bottom: -2.19vw;
        right: -4.02vw;
        background-image: url("../img/sun.png");
        background-size: 100%;
      }
    }

    &--golden-sand {
      background-image: url("../img/golden-sand-image.png");
      background-size: 100%;

      &::after {
        width: 10.4vw;
        height: 10.03vw;
        bottom: -0.73vw;
        right: -3.29vw;
        background-image: url("../img/sandals.png");
        background-size: 100%;
      }
    }

    &--kurortnaya {
      background-image: url("../img/kurortnaya-image.png");
      background-size: 100%;

      &::after {
        width: 10.25vw;
        height: 11.72vw;
        bottom: -1.09vw;
        right: -4.02vw;
        background-image: url("../img/coconut.png");
        background-size: 100%;
      }
    }
  }

  .options__name {
    width: 124%;
    margin-right: -2.19vw;
    font-size: 2.56vw;
    text-shadow: -0.21vw 0.14vw 0.36vw #000;
  }

  .options__dates {
    font-size: 1.2em;
    letter-spacing: -2px;
  }
}