.promo {
  margin-bottom: 10px;
}

.promo__header {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Segeo";
  font-size: 26px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #184a6f;
  text-transform: uppercase;
  text-align: center;

  &--price {
    margin: 0 auto;
    display: block;
    font-size: 24px;
    line-height: 32px;
  }
}

.promo__price {
  position: relative;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #ff1a14;

  &::after {
    content: '=';
    position: absolute;
    top: 12px;
    right: 7px;
    font-size: 30px;
  }
}

.promo__advertisement {
  width: 320px;
  padding-top: 65px;
  padding-bottom: 10px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/tree--mobile.png");
    background-repeat: no-repeat;
    background-size: 260px 92px;
    background-position: 50% 100%;
    z-index: -1;
  }
}

.promo__button {
  width: 184px;
  padding: 4px 20px;
  margin: 0 auto;
  border: 5px solid #94380b;
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  position: relative;
  text-decoration: none;
  background-image: url("../img/button-background--mobile.png");
  background-repeat: no-repeat;
  //Пробовал через CSS, но плохая совместимость с firefox
  //background-color: #ffa358;
  //box-shadow:
  //        inset -5px 5px 1px rgba(251, 193, 124, 0.8), /*верхняя-правая тень*/
  //        inset 5px -5px 1px rgba(223, 128, 50, 0.8), /*нижняя-левая тень*/
  //        -1px 1px 0px 0 rgba(0,0,0,.5);

  &:hover {
    &::before {
      content: '';
      width: 184px;
      height: 50px;
      border-radius: 10px;
      background-color: #fff;
      opacity: .35;
      position: absolute;
      top: -5px;
      left: -5px;
      box-shadow: -2px 2px 10px 5px rgb(255, 255, 255);
    }
  }
}

.promo__button:hover + .crab {
  animation-play-state: paused;

  & .crab__left-foot {
    animation-play-state: paused;
  }

  & .crab__right-foot {
    animation-name: crab-right-foot;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  & .crab__right-hand {
    animation-name: crab-right-hand;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

.promo__content {
  padding: 0;
  margin: 0;
  font-family: "Segeo";
  font-size: 33px;
  line-height: 33.5px;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #eb0600;
  -webkit-background-clip: text;
}

@media (min-width: $tablet) {
  .promo__header {
    width: auto;
    padding: 0;
    margin: 0;
    font-size: 50px;
    line-height: normal;

    &--price {
      font-size: 58px;
    }
  }

  .promo__wrapper {
    display: flex;
    justify-content: center;
  }

  .promo__price {
    width: auto;
    font-size: 79px;

    &::after {
      top: 45px;
      right: 20px;
      font-size: 51px;
    }
  }

  .promo__advertisement {
    width: auto;
    max-width: 580px;
    padding-top: 180px;
    padding-bottom: 30px;
    
    &::after {
      background-image: url("../IMG/tree.png");
      background-size: 575px 204px;
      background-position: 50% 100%;
    }
  }

  .promo__button {
    width: 404px;
    padding: 9px 20px;
    border: 10px solid #94380b;
    border-radius: 20px;
    background-image: url("../img/button-background.png");
  }

  .promo__button:hover {
    &::before {
      content: '';
      width: 384px;
      height: 90px;
      border-radius: 5px;
      background-color: #fff;
      opacity: .35;
      position: absolute;
      box-shadow: -2px 2px 10px 10px rgb(255, 255, 255);
      top: 0;
      left: 0;
    }
  }

  .promo__content {
    font-size: 73px;
    line-height: 73px;
  }
}
