.promo {
  margin-bottom: 10px;
}

.promo__header {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Segeo";
  font-size: 26px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #184a6f;
  text-transform: uppercase;
  text-align: center;

  &--price {
    margin: 0 auto;
    display: block;
    font-size: 24px;
    line-height: 32px;
  }
}

.promo__vacation {
  padding: 0;
  margin: 0;
  font-family: "Segeo";
  font-size: 26px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #184a6f;
  text-transform: uppercase;
  text-align: center;
}

.promo__price {
  margin: 0 auto;
  display: block;
  font-family: "Segeo";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #184a6f;
  text-transform: uppercase;
  text-align: center;
}

.promo__numbers {
  position: relative;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #ff1a14;

  &::after {
    content: '=';
    position: absolute;
    top: 12px;
    right: 7px;
    font-size: 30px;
  }
}

.promo__advertisement {
  width: 320px;
  padding-top: 65px;
  padding-bottom: 10px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/tree--mobile.png");
    background-repeat: no-repeat;
    background-size: 260px 92px;
    background-position: 50% 100%;
    z-index: -1;
  }
}

.promo__button {
  width: 184px;
  padding: 4px 20px;
  margin: 0 auto;
  border: 5px solid #94380b;
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  position: relative;
  text-decoration: none;
  background-image: url("../img/button-background--mobile.png");
  background-repeat: no-repeat;
  //Пробовал через CSS, но плохая совместимость с firefox
  //background-color: #ffa358;
  //box-shadow:
  //        inset -5px 5px 1px rgba(251, 193, 124, 0.8), /*верхняя-правая тень*/
  //        inset 5px -5px 1px rgba(223, 128, 50, 0.8), /*нижняя-левая тень*/
  //        -1px 1px 0px 0 rgba(0,0,0,.5);

  &:hover {
    &::before {
      content: '';
      width: 184px;
      height: 50px;
      border-radius: 10px;
      background-color: #fff;
      opacity: .35;
      position: absolute;
      top: -5px;
      left: -5px;
      box-shadow: -2px 2px 10px 5px rgb(255, 255, 255);
    }
  }
}

.promo__button:hover + .crab {
  animation-play-state: paused;

  & .crab__left-foot {
    animation-play-state: paused;
  }

  & .crab__right-foot {
    animation-name: crab-right-foot;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  & .crab__right-hand {
    animation-name: crab-right-hand;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

.promo__content {
  padding: 0;
  margin: 0;
  font-family: "Segeo";
  font-size: 33px;
  line-height: 33.5px;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #eb0600;
  -webkit-background-clip: text;
}

@media (min-width: $tablet) {
  .promo {
    max-width: 1366px;
    margin: 0 auto;
    margin-bottom: 0.73%;
  }

  .promo__header {
    width: auto;
    padding: 0;
    margin: 0;
    @include fluid-type(font-size, 768px, 1366px, 25px, 50px);
    line-height: normal;
  }

  .promo__wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .promo__price {
    margin: 0;
    @include fluid-type(font-size, 768px, 1366px, 29px, 58px);
    line-height: normal;
  }

  .promo__vacation {
    width: auto;
    @include fluid-type(font-size, 768px, 1366px, 29px, 58px);
    line-height: normal;
  }

  .promo__numbers {
    width: auto;
    @include fluid-type(font-size, 768px, 1366px, 39px, 78px);

    &::after {
      top: 30%;
      right: 6%;
      @include fluid-type(font-size, 768px, 1366px, 27px, 54px);
    }
  }

  .promo__advertisement {
    width: 42.46%;
    max-width: 580px;
    padding-top: 13.2%;
    padding-bottom: 2.2%;
    
    &::after {
      background-image: url("../IMG/tree.png");
      background-size: 100%;
      background-position: 50% 100%;
    }
  }

  .promo__button {
    width: 69.5%;
    height: 8vw;
    max-height: 109px;
    padding: 1.55% 3.45%;
    border: 0.73vw solid #94380b;
    border-radius: 1.46vw;
    background-image: url("../img/button-background.png");
    background-size: 100%;
  }

  .promo__button:hover {
    &::before {
      content: '';
      width: 100%;
      height: 6vw;
      max-height: 90px;
      border-radius: 0.36vw;
      background-color: #fff;
      opacity: .35;
      position: absolute;
      box-shadow: -0.14vw 0.14vw 0.73vw 0.73vw rgb(255, 255, 255);
      top: 0;
      left: 0;
    }
  }

  .promo__content {
    padding-top: 4%;
    box-sizing: border-box;
    @include fluid-type(font-size, 768px, 1366px, 39px, 72px);
  }
}

@media (min-width: 950px) {
  .promo__numbers::after {
    top: 35%;
    right: 5.5%;
  }
}

@media (min-width: 1100px) {
  .promo__numbers::after {
    top: 40%;
    right: 5.5%;
  }
}

@media (min-width: $desktop) {
  .promo__button {
    border: 10px solid #94380b;
  }

  .promo__numbers::after {
    top: 45px;
    right: 18px;
  }
}
