.tours {
  padding: 0;
  margin: 0;
  border: 5px solid #ffffff;
}

.tours__header {
  padding: 0 10px;
  margin: 0 auto;
  font-family: "Segeo";
  font-size: 28px;
  letter-spacing: 0.02em;
  color: #fffffe;
  text-transform: uppercase;
}