.tours {
  padding: 0;
  margin: 0;
  position: relative;
  border: 5px solid #ffffff;
  box-shadow: -5px 7px 5px 0 rgba(0,0,0,.5),
  inset -7px 0px 3px -4px rgba(0,0,0,.5);

  &::before {
    content: '';
    width: 60px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 0;
    box-shadow: -4px 7px 3px 0 rgba(0,0,0,.5);
    z-index: -1;
  }

  &::after {
    content: '';
    width: 60px;
    height: 5px;
    position: absolute;
    top: 4px;
    right: -1px;
    box-shadow: -4px 7px 3px 0 rgba(0,0,0,.5);
    z-index: -1;
  }
}

.tours__header {
  padding: 0 10px;
  margin-left: 21%;
  font-family: "Segeo";
  font-size: 28px;
  line-height: 26px;
  letter-spacing: 0.02em;
  position: relative;
  color: #fffffe;
  text-shadow: -4px 2px 1px rgba(0, 0, 0, 0.41);
  text-transform: uppercase;
  background-color: transparent;
  z-index: 0;
}

@media (min-width: $tablet) {
  .tours {
    max-height: 200px;
    padding-top: 40px;
    margin-bottom: 195px;
    border: 10px solid #ffffff;
    box-shadow: -10px 10px 5px 0 rgba(0,0,0,.5),
    inset -10px 0px 3px -4px rgba(0,0,0,.5);

    &::before {
      width: 420px;
      height: 10px;
      top: -2px;
      left: 0;
      box-shadow: -4px 7px 3px 0 rgba(0,0,0,.5);
    }

    &::after {
      width: 418px;
      height: 10px;
      top: -2px;
      right: -3px;
      box-shadow: -8px 7px 3px 0 rgba(0,0,0,.5);
    }
  }

  .tours__header {
    margin-left: 36%;
    font-size: 60px;
    text-shadow: -6px 4px 1px rgba(0,0,0,.41);

    &:after {
      width: 415px;
      height: 10px;
      right: -425px;
      top: 4px;
      box-shadow: -4px 15px 3px 0 rgba(0,0,0,.5);
    }

    &:before {
      width: 415px;
      height: 10px;
      left: -417px;
      top: 4px;
      box-shadow: -4px 15px 3px 0 rgba(0,0,0,.5);
    }
  }
}