@font-face {
  font-family: "Segeo";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/seguibl.woff") format("woff"); }

body {
  padding: 0;
  margin: 0;
  background-color: #8eccf5; }

.main-container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  position: relative; }
  .main-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1; }

@-webkit-keyframes rotation {
  33% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  66% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); } }

@keyframes rotation {
  33% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  66% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); } }

@-webkit-keyframes movingX {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px); }
  70% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px); }
  100% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px); } }

@keyframes movingX {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px); }
  70% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px); }
  100% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px); } }

@-webkit-keyframes movingX-left {
  0% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px); }
  70% {
    -webkit-transform: translateX(-195px);
            transform: translateX(-195px); }
  100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px); } }

@keyframes movingX-left {
  0% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px); }
  70% {
    -webkit-transform: translateX(-195px);
            transform: translateX(-195px); }
  100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px); } }

@-webkit-keyframes mirror {
  100% {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); } }

@keyframes mirror {
  100% {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); } }

@-webkit-keyframes crab-movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  25% {
    -webkit-transform: translateX(55px);
            transform: translateX(55px); }
  75% {
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes crab-movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  25% {
    -webkit-transform: translateX(55px);
            transform: translateX(55px); }
  75% {
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@-webkit-keyframes crab-legs {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  33% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  66% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes crab-legs {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  33% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  66% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes crab-shaking {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  33% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }
  66% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes crab-shaking {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  33% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }
  66% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes crab-shell {
  33% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg); }
  66% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg); } }

@keyframes crab-shell {
  33% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg); }
  66% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg); } }

@-webkit-keyframes crab-right-foot {
  1% {
    bottom: -6px; }
  5% {
    bottom: 0; }
  10% {
    bottom: -6px; }
  100% {
    bottom: -6px; } }

@keyframes crab-right-foot {
  1% {
    bottom: -6px; }
  5% {
    bottom: 0; }
  10% {
    bottom: -6px; }
  100% {
    bottom: -6px; } }

@-webkit-keyframes crab-right-hand {
  30% {
    -webkit-transform: translate(-5px, 5px) rotate(-20deg);
            transform: translate(-5px, 5px) rotate(-20deg); } }

@keyframes crab-right-hand {
  30% {
    -webkit-transform: translate(-5px, 5px) rotate(-20deg);
            transform: translate(-5px, 5px) rotate(-20deg); } }

@media (min-width: 768px) {
  body {
    overflow-x: hidden; }
  .main-container {
    max-width: 1920px;
    min-width: 1366px; }
    .main-container::before {
      background-image: url("../img/bg.jpg");
      overflow: hidden; }
  @-webkit-keyframes movingX {
    0% {
      -webkit-transform: translateX(-0.1vw);
              transform: translateX(-0.1vw); }
    100% {
      -webkit-transform: translateX(300vw);
              transform: translateX(300vw); } }
  @keyframes movingX {
    0% {
      -webkit-transform: translateX(-0.1vw);
              transform: translateX(-0.1vw); }
    100% {
      -webkit-transform: translateX(300vw);
              transform: translateX(300vw); } }
  @-webkit-keyframes movingX-left {
    0% {
      -webkit-transform: translateX(200vw);
              transform: translateX(200vw); }
    100% {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw); } }
  @keyframes movingX-left {
    0% {
      -webkit-transform: translateX(200vw);
              transform: translateX(200vw); }
    100% {
      -webkit-transform: translateX(-100vw);
              transform: translateX(-100vw); } }
  @-webkit-keyframes crab-movement {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px); }
    25% {
      -webkit-transform: translateX(105px);
              transform: translateX(105px); }
    75% {
      -webkit-transform: translateX(-155px);
              transform: translateX(-155px); }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px); } }
  @keyframes crab-movement {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px); }
    25% {
      -webkit-transform: translateX(105px);
              transform: translateX(105px); }
    75% {
      -webkit-transform: translateX(-155px);
              transform: translateX(-155px); }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px); } }
  @-webkit-keyframes crab-right-foot {
    1% {
      bottom: -10px; }
    5% {
      bottom: 0; }
    10% {
      bottom: -10px; }
    100% {
      bottom: -10px; } }
  @keyframes crab-right-foot {
    1% {
      bottom: -10px; }
    5% {
      bottom: 0; }
    10% {
      bottom: -10px; }
    100% {
      bottom: -10px; } }
  @-webkit-keyframes crab-right-hand {
    30% {
      -webkit-transform: translate(-10px, 10px) rotate(-20deg);
              transform: translate(-10px, 10px) rotate(-20deg); } }
  @keyframes crab-right-hand {
    30% {
      -webkit-transform: translate(-10px, 10px) rotate(-20deg);
              transform: translate(-10px, 10px) rotate(-20deg); } } }

.header {
  padding-top: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden; }

.header__logo {
  display: block;
  margin: 0 auto; }

.header__plane--right {
  width: 96px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 15px;
  background-image: url("../img/plane--mobile.png");
  background-repeat: no-repeat;
  -webkit-animation-name: movingX;
          animation-name: movingX;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  overflow: hidden; }

.header__plane--left {
  width: 96px;
  height: 35px;
  position: absolute;
  left: -100px;
  top: 15px;
  background-image: url("../img/plane-left--mobile.png");
  background-repeat: no-repeat;
  -webkit-animation-name: movingX-left;
          animation-name: movingX-left;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  overflow: hidden; }

@media (min-width: 768px) {
  .header {
    padding-top: 20px;
    margin-bottom: 45px; }
  .header__plane--right {
    width: 232px;
    height: 85px;
    background-image: url("../img/plane.png");
    -webkit-animation-duration: 25s;
            animation-duration: 25s; }
  .header__plane--left {
    width: 232px;
    height: 85px;
    left: -300px;
    background-image: url("../img/plane-left.png");
    -webkit-animation-delay: 15s;
            animation-delay: 15s; } }

.promo {
  margin-bottom: 10px; }

.promo__header {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Segeo";
  font-size: 26px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #184a6f;
  text-transform: uppercase;
  text-align: center; }
  .promo__header--price {
    margin: 0 auto;
    display: block;
    font-size: 24px;
    line-height: 32px; }

.promo__price {
  position: relative;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #ff1a14; }
  .promo__price::after {
    content: '=';
    position: absolute;
    top: 12px;
    right: 7px;
    font-size: 30px; }

.promo__advertisement {
  width: 320px;
  padding-top: 65px;
  padding-bottom: 10px;
  margin: 0 auto;
  position: relative; }
  .promo__advertisement::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/tree--mobile.png");
    background-repeat: no-repeat;
    background-size: 260px 92px;
    background-position: 50% 100%;
    z-index: -1; }

.promo__button {
  width: 184px;
  padding: 4px 20px;
  margin: 0 auto;
  border: 5px solid #94380b;
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  position: relative;
  text-decoration: none;
  background-image: url("../img/button-background--mobile.png");
  background-repeat: no-repeat; }
  .promo__button:hover::before {
    content: '';
    width: 184px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    opacity: .35;
    position: absolute;
    top: -5px;
    left: -5px;
    box-shadow: -2px 2px 10px 5px white; }

.promo__button:hover + .crab {
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }
  .promo__button:hover + .crab .crab__left-foot {
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }
  .promo__button:hover + .crab .crab__right-foot {
    -webkit-animation-name: crab-right-foot;
            animation-name: crab-right-foot;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  .promo__button:hover + .crab .crab__right-hand {
    -webkit-animation-name: crab-right-hand;
            animation-name: crab-right-hand;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

.promo__content {
  padding: 0;
  margin: 0;
  font-family: "Segeo";
  font-size: 33px;
  line-height: 33.5px;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #eb0600;
  -webkit-background-clip: text; }

@media (min-width: 768px) {
  .promo__header {
    width: auto;
    padding: 0;
    margin: 0;
    font-size: 50px;
    line-height: normal; }
    .promo__header--price {
      font-size: 58px; }
  .promo__wrapper {
    display: flex;
    justify-content: center; }
  .promo__price {
    width: auto;
    font-size: 79px; }
    .promo__price::after {
      top: 45px;
      right: 20px;
      font-size: 51px; }
  .promo__advertisement {
    width: auto;
    max-width: 580px;
    padding-top: 180px;
    padding-bottom: 30px; }
    .promo__advertisement::after {
      background-image: url("../IMG/tree.png");
      background-size: 575px 204px;
      background-position: 50% 100%; }
  .promo__button {
    width: 404px;
    padding: 9px 20px;
    border: 10px solid #94380b;
    border-radius: 20px;
    background-image: url("../img/button-background.png"); }
  .promo__button:hover::before {
    content: '';
    width: 384px;
    height: 90px;
    border-radius: 5px;
    background-color: #fff;
    opacity: .35;
    position: absolute;
    box-shadow: -2px 2px 10px 10px white;
    top: 0;
    left: 0; }
  .promo__content {
    font-size: 73px;
    line-height: 73px; } }

.main-page {
  width: 320px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box; }

@media (min-width: 768px) {
  .main-page {
    width: auto;
    max-width: 1200px;
    padding: 0 30px;
    padding-top: 40px;
    margin: 0 auto;
    box-sizing: content-box;
    overflow: hidden; } }

.tours {
  padding: 0;
  margin: 0;
  position: relative;
  border: 5px solid #ffffff;
  box-shadow: -5px 7px 5px 0 rgba(0, 0, 0, 0.5), inset -7px 0px 3px -4px rgba(0, 0, 0, 0.5); }
  .tours::before {
    content: '';
    width: 60px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 0;
    box-shadow: -4px 7px 3px 0 rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .tours::after {
    content: '';
    width: 60px;
    height: 5px;
    position: absolute;
    top: 4px;
    right: -1px;
    box-shadow: -4px 7px 3px 0 rgba(0, 0, 0, 0.5);
    z-index: -1; }

.tours__header {
  padding: 0 10px;
  margin-left: 21%;
  font-family: "Segeo";
  font-size: 28px;
  line-height: 26px;
  letter-spacing: 0.02em;
  position: relative;
  color: #fffffe;
  text-shadow: -4px 2px 1px rgba(0, 0, 0, 0.41);
  text-transform: uppercase;
  background-color: transparent;
  z-index: 0; }

@media (min-width: 768px) {
  .tours {
    max-height: 200px;
    padding-top: 40px;
    margin-bottom: 195px;
    border: 10px solid #ffffff;
    box-shadow: -10px 10px 5px 0 rgba(0, 0, 0, 0.5), inset -10px 0px 3px -4px rgba(0, 0, 0, 0.5); }
    .tours::before {
      width: 420px;
      height: 10px;
      top: -2px;
      left: 0;
      box-shadow: -4px 7px 3px 0 rgba(0, 0, 0, 0.5); }
    .tours::after {
      width: 418px;
      height: 10px;
      top: -2px;
      right: -3px;
      box-shadow: -8px 7px 3px 0 rgba(0, 0, 0, 0.5); }
  .tours__header {
    margin-left: 36%;
    font-size: 60px;
    text-shadow: -6px 4px 1px rgba(0, 0, 0, 0.41); }
    .tours__header:after {
      width: 415px;
      height: 10px;
      right: -425px;
      top: 4px;
      box-shadow: -4px 15px 3px 0 rgba(0, 0, 0, 0.5); }
    .tours__header:before {
      width: 415px;
      height: 10px;
      left: -417px;
      top: 4px;
      box-shadow: -4px 15px 3px 0 rgba(0, 0, 0, 0.5); } }

.options {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.options__item {
  width: 50%;
  cursor: pointer;
  transition: all .4s ease-in-out; }
  .options__item:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }

.options__item:hover .options__dates {
  color: #ff1a14; }

.options__item:hover .options__names {
  -webkit-transform: scale(1.05);
          transform: scale(1.05); }

.options__image {
  width: 115px;
  height: 115px;
  margin: 0 auto;
  margin-bottom: 5px;
  position: relative;
  display: block;
  border: 5px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  background-position: -1px -4px;
  background-repeat: no-repeat;
  box-shadow: -5px 7px 5px 0 rgba(0, 0, 0, 0.5), inset -5px 7px 5px 0 rgba(0, 0, 0, 0.5); }
  .options__image--zavodnaya {
    background-image: url("../img/zavodnaya-image--mobile.png"); }
    .options__image--zavodnaya::after {
      content: '';
      width: 68px;
      height: 73px;
      position: absolute;
      bottom: -5px;
      right: -22px;
      background-image: url("../img/cog--mobile.png");
      background-repeat: no-repeat; }
  .options__image--solnechnaya {
    background-image: url("../img/solnechnaya-image--mobile.png"); }
    .options__image--solnechnaya::after {
      content: '';
      width: 83px;
      height: 83px;
      position: absolute;
      bottom: -15px;
      right: -30px;
      background-image: url("../img/sun--mobile.png");
      background-repeat: no-repeat; }
  .options__image--golden-sand {
    background-image: url("../img/golden-sand-image--mobile.png"); }
    .options__image--golden-sand::after {
      content: '';
      width: 67px;
      height: 63px;
      position: absolute;
      bottom: -5px;
      right: -22px;
      background-image: url("../img/sandals--mobile.png");
      background-repeat: no-repeat; }
  .options__image--kurortnaya {
    background-image: url("../img/kurortnaya-image--mobile.png"); }
    .options__image--kurortnaya::after {
      content: '';
      width: 62px;
      height: 72px;
      position: absolute;
      bottom: -5px;
      right: -22px;
      background-image: url("../img/coconut--mobile.png");
      background-repeat: no-repeat; }

.options__name {
  padding: 0;
  margin: 0;
  font-family: "Segeo";
  font-size: 16px;
  color: #fffffe;
  text-shadow: -1px 1px 1px black;
  text-transform: uppercase;
  text-align: center;
  transition: all .4s ease-in-out; }

.options__dates {
  padding: 0;
  margin: 0;
  font-family: "Segeo";
  font-size: 16px;
  letter-spacing: -0.8px;
  color: #184a6f;
  text-transform: uppercase;
  text-align: center; }

@media (min-width: 768px) {
  .options__item {
    width: 25%; }
  .options {
    overflow: visible; }
  .options__image {
    width: 100%;
    max-width: 250px;
    height: 250px;
    border: 10px solid #ffffff; }
    .options__image--zavodnaya {
      background-image: url("../img/zavodnaya-image.png"); }
      .options__image--zavodnaya::after {
        width: 155px;
        height: 165px;
        bottom: -20px;
        right: -45px;
        background-image: url("../img/cog.png"); }
    .options__image--solnechnaya {
      background-image: url("../img/solnechnaya-image.png"); }
      .options__image--solnechnaya::after {
        width: 185px;
        height: 185px;
        bottom: -30px;
        right: -55px;
        background-image: url("../img/sun.png"); }
    .options__image--golden-sand {
      background-image: url("../img/golden-sand-image.png"); }
      .options__image--golden-sand::after {
        width: 142px;
        height: 137px;
        bottom: -10px;
        right: -45px;
        background-image: url("../img/sandals.png"); }
    .options__image--kurortnaya {
      background-image: url("../img/kurortnaya-image.png"); }
      .options__image--kurortnaya::after {
        width: 140px;
        height: 160px;
        bottom: -15px;
        right: -55px;
        background-image: url("../img/coconut.png"); }
  .options__name {
    width: 108%;
    font-size: 35px;
    text-shadow: -3px 2px 5px #000; }
  .options__dates {
    font-size: 28px;
    letter-spacing: -2px; } }

.main-footer {
  width: 320px;
  padding-top: 80px;
  padding-bottom: 20px;
  margin: 0 auto;
  position: relative; }

.main-footer__content {
  padding: 0;
  margin: 0;
  font-family: "Segeo";
  font-size: 21px;
  letter-spacing: 0.02em;
  color: #184a6f;
  text-transform: uppercase;
  text-align: center; }

.main-footer__turtle {
  width: 66px;
  height: 37px;
  position: absolute;
  top: 20px;
  left: 128px;
  background-image: url("../img/turtle--mobile.png");
  background-repeat: no-repeat;
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@media (min-width: 768px) {
  .main-footer {
    width: auto; }
  .main-footer__wrapper {
    display: flex;
    justify-content: center; }
  .main-footer__content {
    font-size: 58px; }
  .main-footer__turtle {
    width: 151px;
    height: 85px;
    top: 0;
    left: 46%;
    background-image: url("../img/turtle.png"); } }

.crab {
  width: 72px;
  height: 72px;
  position: absolute;
  top: -7px;
  left: 130px;
  -webkit-animation-name: crab-movement;
          animation-name: crab-movement;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 3; }

.crab__body {
  width: 38px;
  height: 21px;
  position: absolute;
  bottom: 10px;
  left: 18px;
  background-image: url("../img/crab/body.png");
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation-name: crab-shaking;
          animation-name: crab-shaking;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1; }

.crab__left-foot {
  width: 25px;
  height: 32px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../img/crab/foot-left.png");
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation-name: crab-legs;
          animation-name: crab-legs;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.crab__right-foot {
  width: 25px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../img/crab/foot-right.png");
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation-name: crab-legs;
          animation-name: crab-legs;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.crab__left-hand {
  width: 30px;
  height: 21px;
  position: absolute;
  bottom: 0;
  left: 5px;
  background-image: url("../img/crab/hand-left.png");
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation-name: crab-shaking;
          animation-name: crab-shaking;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 2; }

.crab__right-hand {
  width: 30px;
  height: 21px;
  position: absolute;
  bottom: 0;
  right: 5px;
  background-image: url("../img/crab/hand-right.png");
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation-name: crab-shaking;
          animation-name: crab-shaking;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  z-index: 2; }

.crab__left-eye {
  width: 10px;
  height: 9px;
  position: absolute;
  bottom: 11px;
  left: 26px;
  background-image: url("../img/crab/eye-left.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2; }

.crab__right-eye {
  width: 10px;
  height: 9px;
  position: absolute;
  bottom: 11px;
  right: 26px;
  background-image: url("../img/crab/eye-right.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2; }

.crab__eye {
  width: 6px;
  height: 4px;
  position: absolute;
  bottom: 17px;
  background-image: url("../img/crab/eye-eye.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 3; }
  .crab__eye--left {
    left: 24px; }
  .crab__eye--right {
    right: 24px; }

.crab__shell {
  width: 49px;
  height: 58px;
  position: absolute;
  top: 0;
  left: 12px;
  background-image: url("../img/crab/shell.png");
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation-name: crab-shell;
          animation-name: crab-shell;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: -1; }

@media (min-width: 768px) {
  .crab {
    width: 153px;
    height: 147px;
    left: 250px;
    top: 44px; }
  .crab__body {
    width: 79px;
    height: 45px;
    left: 35px; }
  .crab__left-foot {
    width: 50px;
    height: 65px; }
  .crab__right-foot {
    width: 50px;
    height: 65px; }
  .crab__left-hand {
    width: 55px;
    height: 43px;
    left: 15px; }
  .crab__right-hand {
    width: 55px;
    height: 43px;
    right: 15px; }
  .crab__left-eye {
    width: 20px;
    height: 17px;
    bottom: 22px;
    left: 53px; }
  .crab__right-eye {
    width: 20px;
    height: 17px;
    bottom: 22px;
    right: 53px; }
  .crab__eye {
    width: 12px;
    height: 8px;
    bottom: 32px; }
    .crab__eye--left {
      left: 50px; }
    .crab__eye--right {
      right: 50px; }
  .crab__shell {
    width: 98px;
    height: 116px;
    left: 25px; } }
